body {
    background-color: rgb(143, 142, 142);
}

.title {
    padding: 30px;
    text-align: center;
    font-size: 50px;
}

.title span {
    color: blueviolet;
    font-size: 40px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main img {
    max-width: 600px;
}

.main-info {
    max-width: 500px;
}

.main-info ul {
    padding-left: 17px;
}

.main-info a {
    font-size: 20px;
    color: blueviolet;
    text-decoration: none;
}

.contacts {
    padding: 75px;
    display: flex;
    align-items: center;
    margin: auto;
}

.contacts img {
    max-width: 500px;
    margin-left: 100px;
}

.contacts .contacts-info {
    margin-left: 10px;
}

.contacts h3 {
    margin-left: 100px;
}

.contacts ul li {
    margin-bottom: 15px;
}

.contacts ul {
    list-style-type: none;
    padding-left: 0;
}

.contacts ul li img {
    width: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.form {
    max-width: 420px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.form h2 {
    text-align: center;
    font-size: 35px;
}

.form input {
    font-style: italic;
    font-family: "Times New Roman";
    padding: 10px;
    font-size: 23px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid blueviolet;
}

.form button {
    font-family: "Times New Roman";
    background-color: blueviolet;
    padding: 16px;
    border-radius: 10px;
    font-size: 20px;
    border: blueviolet 2px solid;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.form button:hover {
    background-color: #102829;
    color: #cacaca;
    border: blueviolet 2px solid;
}

.form textarea {
    font-style: italic;
    font-family: "Times New Roman";
    padding: 10px;
    font-size: 23px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid blueviolet;
}

.form input::placeholder {
    color: grey;
}

.form textarea::placeholder {
    color: grey;
}